body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

#project-details{
    border: 5px solid #000000;
    border-radius: 8px;
    background-color:rgba(183, 217, 221, 0.749);
    font-size: 30px;
}